---
services:
  siwapp_db:
    image: postgres:13.5-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -p 5432"]
      interval: 5s
      timeout: 25s
      retries: 5
      start_period: 5s
    volumes:
      - siwapp_postgres_volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - doofinder_network

  siwapp:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: elixir -S mix phx.server
    depends_on:
      siwapp_db:
        condition: service_healthy
    entrypoint: ["./docker/entrypoint.sh"]
    environment:
      DB_HOST: siwapp_db
      DB_PORT: 5432
      MIX_ENV: dev
    ports:
      - "4010:4010"
    volumes:
      - .:/app

volumes:
  siwapp_postgres_volume:
    name: siwapp_postgres_volume
