# To fetch schema from
introspection: http://localhost:4000/graphql

servers: # same format as for OpenAPI Specification
  - url: https://dev-server.com
    description: Dev

info: # same format as for OpenAPI Specification
    title: Siwapp API
    description:  This is the static documentation for Siwapp API

 # define your domains by providing a set of usecases
domains:
  - name: Get # Name of the domain
    usecases:
     - name: Get an invoice
       query: query.invoice
  - name: List
    usecases:
     - name: Get all customers
       query: query.customers
     - name: Get all invoices
       query: query.invoices
  - name: Create
    usecases:
     - name: Create a customer
       query: mutation.createCustomer
     - name: Create an invoice
       query: mutation.createInvoice
  - name: Delete
    usecases:
     - name: Delete a customer
       query: mutation.deleteCustomer
     - name: Delete an invoice
       query: mutation.deleteInvoice
  - name: Update
    usecases:
     - name: Update an invoice
       query: mutation.updateInvoice
