/* This file is for your main application CSS */

@import "./phoenix.scss";
@import "./multiselect.scss";
@import "bulma";

main.container {
  margin: 1em auto;
}

.navbar.is-fixed-top {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ced4da;
}
fieldset.fieldset {
  margin-bottom: 3em;
}

.icon.table-icon {
  display: revert;
  text-align: center;
}

td.table-span:not([align]) {
  text-align: center;
}

.iframe.template {
  width: 770px;
  height: 1090px;
  border: 2px solid #ced4da;
}

.search-input {
  display: flex;
}

.search-menu {
  position: absolute;
  top: 2.9rem;
  background-color: #f8f9fa;
  width: 210%;
}

.search-menu-content {
  border: 1px solid #ced4da;
  padding: 1rem;
  display: none;
}

.search-menu-content label{
  font-size: 14px;
}

.search-menu-content .buttons{
  margin-top: 0.5rem;
}

p.control.has-dropdown {
  margin-bottom: 0px;
}

.input-with-dropdown {
  display: grid;
}

.input:focus-within+.dropdown.below-input,
.dropdown.below-input:hover {
  display: block;
  position: static;
  max-width: 100%;
  width: 100%;
}

.dropdown.below-input {
  display: none;
}

.below-input .dropdown-content {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 0px;
  max-width: 100%;
  width: 100%;
}

.customers_list{
  position: absolute;
  width: 46%;
  z-index: 5;
}
.customers_list_content{
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  background-color: white;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  max-height: 200px;
}

.customers_list_content option:hover{
  background-color: hsl(0, 0%, 96%);
}

.card.card-header:hover {
  background-color: #fafafa;
}

.card .card-header-content {
  max-width: 35vw;
}

/* CHARTS STYLING*/
/* Styling for tick text */
.exc-tick text {
  fill: black;
  font-weight: 300;
  font-size: 0.5rem;
  stroke: none;
}

/* Styling for axis line */
.exc-domain {
  stroke:  black;
  stroke-width: 0.5;
}

.button.is-purple{
    color: white;
    background-color: #8A4D76;
    border-color: transparent;
}

@media screen and (max-width: 1000px) {
  .search-input {
    display: none;
  }
}
