name: CI
# Based on https://hashrocket.com/blog/posts/build-the-ultimate-elixir-ci-with-github-actions

on: [push, pull_request]

env:
  MIX_ENV: test

jobs:
  test-elixir:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.5-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    strategy:
      matrix:
        elixir: [1.13.0]
        otp: [24.1.7]

    steps:
      - uses: actions/checkout@v2

      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v2
        id: mix-cache #id to use in retrieve action
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Mix Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Check Formatting
        run: mix format --check-formatted

      - name: Run Tests
        run: mix test

      - name: Retrieve PLT Cache
        uses: actions/cache@v2
        with:
          path: _build/dev
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        env:
          MIX_ENV: dev

      - name: Run dialyzer
        run: mix dialyzer
        env:
          MIX_ENV: dev

      - name: Run credo
        run: mix credo --strict
        env:
          MIX_ENV: dev
